#photoCard {
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
    margin-top: 10pt;
}
#badgeGroup, 
#actionButtonGroup {
    display: flex;
    gap: 10pt;
    margin: 10pt;
}
